.project__subtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  position: absolute;
  top: 88px;
  left: 20px;
  max-width: 194px;
  width: 100%;
  margin: 0;
}