@keyframes slip {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-30px);
        background-color: #009FAC;
    }
}

.table__list_slip:hover {
    animation: slip 0.6s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.table__list_slip:hover .table__button {
    color: #FFFFFF;
    border-color: #FFFFFF;

}