.table {
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    justify-content: center;
    gap: 30px;
    padding: 0;
}

@media screen and (max-width: 1220px) {
    .table{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media screen and (max-width: 705px) {
    .table{
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 8px;
    }
}