.research-lab__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 68px;
    text-align: center;
    margin: 0 auto 60px;
    color: #000D26;
}

@media screen and (max-width: 1220px) {
    .research-lab__title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 705px) {
    .research-lab__title {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
    }
}