.table__title {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}

@media screen and (max-width: 1220px) {
    .table__title {
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width: 705px) {
    .table__title {
        font-size: 10px;
        line-height: 14px;
    }
}